*{
    padding:0;
    margin:0;
}

html {
    background-color:white;
    font-family: 'Sen', sans-serif;
    font-weight:300;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

p{
    font-size:19px;
}


.clearfix{zoom:1}

.clearfix:after{
    content:'_';
    clear:both;
    display:block;
    height:0;
    visibility:hidden;
}

/************************************************  
------>   Header  
************************************************/
header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.68),rgba(0, 0, 0, 0.68)),url(background-img/16.png);
    /* Background Image */
    
    color:white;
    height:100vh;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;  
}


/************************************************  
------>  Navigation
************************************************/
.navigation-bar {
    background-color: transparent;
    height: auto;
    left: 0;
    padding: 0 18px;
    position: fixed;
    top: 0;
    transition: all 0.3s ease;
    width: 100%;
    z-index: 1000;
}

.navigation-bar.active {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navigation-bar.active .navigation-nav-link {
    color: #111;
}

.navigation-bar.active .navigation-nav-link:hover {
    background-color: #eee;
}

.navigation-nav {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-nav-link {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight:  bold;
    padding: 12px 18px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease;
}

.navigation-nav-link:hover {
    text-decoration: none;
}

.navigation-toggle {
    border-radius: 4px;
    border: 1px solid #111;
    cursor: pointer;
    display: none;
    height: 35px;
    right: 18px;
    position: absolute;
    top: 8px;
    width: 40px;
}

.navigation-toggle > * {
    background-color: #111;
    border-radius: 4px;
    height: 3px;
    left: 5px;
    position: absolute;
    width: 27.5px;
}

.navigation-toggle span:first-child {
    top: 7px;
}

.navigation-toggle span:nth-child(2) {
    top: 50%;
    transform: translateY(-60%);
}

.navigation-toggle span:last-child {
    bottom: 7px;
}

.header-text-box {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.header-text-box h1 {
    font-size: 52px;
    margin-bottom: 38px;
}    


/************************************************  
------>  Introduction
************************************************/
.intro-text{
    margin:50px 50px;
}
.introduction li{
    margin-left:2%;
}

.youtube-video{
   margin-left:20%;
   margin-top:40px;
   width:60%;
   height:auto;
}

/************************************************  
------>  Visit Us
************************************************/
.visit-us{   
    padding-top:40px;    
}

/************************************************  
------>  My Adventures
************************************************/
.adventures h2{
    margin:auto;
    text-align: center;
    font-size:30px;
}

.adventures p{
    margin:auto;
    text-align: center;
    font-size:17px;
    padding-top:20px;
    margin-bottom: 40px;
}

.adventures{
    width:100.8%;   
    margin-left:-2%;
    padding-top:70px;
}

.place-photo{
    width:110%;
    height:auto;
    margin:0;
    background-color:rgba(0, 0, 0, 0.81);
    overflow: hidden;
}

.place-photo img{
    width:100%;
    height:auto;
    opacity:0.7;
    transform: scale(1.15);
    transition: transform 2s , opacity 2s;    
}

.place-photo img:hover{
    opacity:1;
    transform:scale(1);
}

/************************************************  
------>  Sports
************************************************/
.sports{
    margin:50px 50px;
    margin-bottom: -50px;
}

/* RESPONSIVE */

@media only screen and (max-width: 992px) {
    .navigation-bar {
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 52px 0 0 0;
    }
    
    .navigation-nav {
        display: none;
        float: none;
    }
    
    .navigation-nav.visible {
        display: block;
    }
    
    .navigation-nav-link {
        color: #111;
        display: block;
    }
    
    .navigation-nav-link:hover {
        background-color: #eee;
        color: #111;
    }
    
    .navigation-toggle {
        display: inline-block;
    }
    
    .header-text-box h1 {
        font-size: 46px;
    }
}

@media only screen and (max-width: 768px) {
    .header-text-box h1 {
        font-size: 36px;
    }
}

@media only screen and (max-width: 600px) {
    .header-text-box h1 {
        font-size: 32px;
    }
}
/* RESPONSIVE */