html{
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.68)),to(rgba(0, 0, 0, 0.68))),url(background-img/1.jpg);
    background-image:linear-gradient(rgba(0, 0, 0, 0.68),rgba(0, 0, 0, 0.68)),url(background-img/1.jpg);    
    height:100vh;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;  
    color:white;
}


.login-form{
    position:fixed;
    top:40%;
    left:37%;
    background-color: #247188;
    border-radius: 20px;
}

.username-box{
    margin:20px 20px;
}

.password-box{
    margin:20px 20px;
}

#username{
    border: solid 2px #f70505;
}

#password{
    border: solid 2px #f70505;
    
}

.btn-padding{
    margin-left:33%;
    margin-bottom:30px;
}


@media only screen and (max-width: 530px) {
    .login-form{       
        top:40%;
        left:20%;
    }
}
    

